params{
    libs = null
    output_directory = null
    rna_ref = null
    rna_ref_species = null
    rna_whitelist = null
    rna_dir = null
    rna_geometry = 'long-r2'
    atac_ref = null
    atac_ref_species = null
    atac_whitelist = null
    atac_dir = null
    atac_map = null
    multiome = true 
    demux_species = null
    genome_base = null
    dna_ref = null
    dna_dir = null
    rg_metadata = null
    num_chunks = 100
    fasta = null
    gtf = null
    threads = 1
    memgb = 50
}

manifest{
    homePage = "https://github.com/nkschaefer/align_pipelines"
    author = "Nathan Schaefer"
}

process{
    beforeScript = 'case "${CONDA_PREFIX:-}" in */align_pipelines) ;; *) eval "$(conda shell.bash hook)" && conda activate align_pipelines ;; esac'
}
